.footer {
    background-color: #18181C; /* Color de fondo */
    color: #FFFFFF; /* Color de texto por defecto */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-title {
    text-align: left;
    font-size: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }
  
  .footer-logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .footer-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }
  
  .footer-column {
    flex: 1;
    margin: 0 10px;
  }
  
  .footer-column h3 {
    color: #FFFFFF; 
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 8px;
  }
  
  .footer-column ul li a {
    color: #B0B0B0;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-column ul li a:hover {
    color: #FFFFFF; 
    text-decoration: underline;
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .footer-columns {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-column {
      margin-bottom: 20px;
      text-align: center;
    }
  }