@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Definir variables globales */
:root {
  --primary-blue: #004080;
  --hover-blue: #c8dfff;
  --input-border-color: #004080;
  --focus-border-color: #416693;
  --focus-background-color: #b5c9e5;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f0f4f8;
  background-image: url('../assets/background-light.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 94vh;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  padding: 20px;
}

h2 {
  color: #000;
  font-size: 28px;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 320px;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

input {
  padding: 12px;
  border: 2px solid var(--input-border-color);
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
  background-color: white;
}

input:focus {
  border-color: var(--focus-border-color);
  background-color: var(--focus-background-color);
}

input:hover {
  border-color: var(--primary-blue);
  background-color: var(--hover-blue);
}

button {
  padding: 12px;
  border: none;
  background-color: var(--primary-blue);
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #002b5e;
}

.mensaje {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}