@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


:root {
  --primary-blue: #0a58ca;
  --hover-blue: #0056b3; 
  --input-border-color: #ffffff; 
  --focus-border-color: #80bdff; 
  --focus-background-color: #e9f3ff; 
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url('../assets/background-dark.png'); 
  background-size: cover; 
  background-position: center;
  height: 100vh; 
}

.registro-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  width: 100%;
}

.registro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 16px;
  text-align: center;
  max-width: 700px;
  width: 90%;
}

h2 {
  font-size: 50px;
  margin-bottom: 40px;
  color: var(--input-border-color);
}

.registro-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

input {
  padding: 15px;
  border: none;
  border-bottom: 2px solid var(--input-border-color);
  border-radius: 1;
  font-size: 18px;
  background: rgb(255, 255, 255);
  outline: none;
  transition: border-color 0.3s ease;
}

input:hover {
  background-color: var(--focus-border-color);
}

input:focus {
  border-color: var(--focus-border-color);
  background-color: var(--focus-background-color);
}

button {
  padding: 15px;
  border: none;
  background-color: var(--primary-blue);
  color: var(--input-border-color);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s ease;
  width: 50%;
  margin: 0 auto;
}

button:hover {
  background-color: var(--focus-border-color);
  color: black;
}

.register-link {
  font-size: 14px;
  color: var(--input-border-color);
}

.register-link span {
  text-decoration: underline;
  font-weight: bold;
}
